<table id="activity_table" class="compact stripe">
	<thead>
		<tr>
			<th>Type</th>
			<th>Time</th>
			<th>Other info</th>
            <th>Code (Res)</th>
            <th>Code (Ref)</th>
            <th>X</th>
		</tr>
	</thead>
	<tbody>
		{% for activity in activities %}
		<tr>
			{% if activity.type == 'annotation' %}
			<td>Annotation</td>
			<td>{{ activity.time|date:"m/d H:i:s" }}</td>
			<td>
				<a class="annotation_src" data-source-id="{{ activity.source_id }}" data-start="{{ activity.start }}" data-end="{{ activity.end }}">Source</a>
				| <a class="show_shape" data-geotext="{{ activity.shape }}">Show shape</a>
				| {{ activity.place_type }}
				| Search text: {{ activity.search_text }}
			</td>
            <td><select size="1" class="resolve_code" data-id="{{ activity.id }}">
                <option value="-1"{% if not activity.res_code %} selected="selected"{% endif %}>(none)</option>
                <option value="A1"{% if activity.res_code == 'A1' %} selected="selected"{% endif %}>A1 street address
                    provided</option>
                <option value="A2"{% if activity.res_code == 'A2' %} selected="selected"{% endif %}>A2 definitive match
                    worldwide</option>
                <option value="B1"{% if activity.res_code == 'B1' %} selected="selected"{% endif %}>B1 Previous
                    occurrence</option>
                <option value="B2"{% if activity.res_code == 'B2' %} selected="selected"{% endif %}>B2 Co-reference to
                    larger/adjacent area</option>
                <option value="B3"{% if activity.res_code == 'B3' %} selected="selected"{% endif %}>B3 Prioritizing
                    local gazetteer</option>
                <option value="B4"{% if activity.res_code == 'B4' %} selected="selected"{% endif %}>B4 Accounting for
                    article type</option>
		<option value="B5"{% if activity.res_code == 'B5' %} selected="selected"{% endif %}>B5 Closest match in distance</option>
		<option value="B6"{% if activity.res_code == 'B6' %} selected="selected"{% endif %}>B6 Importance/prominence in gazetteer</option>
                <option value="C1"{% if activity.res_code == 'C1' %} selected="selected"{% endif %}>C1 entity does not
                    exist at all</option>
                <option value="C2"{% if activity.res_code == 'C2' %} selected="selected"{% endif %}>C2 entity with exact
                    shape does not exist</option>
                <option value="C3"{% if activity.res_code == 'C3' %} selected="selected"{% endif %}>C3 entity exists
                    under another name</option>
                <option value="C4"{% if activity.res_code == 'C4' %} selected="selected"{% endif %}>C4 Incorrect
                    gazetteer match</option>
            </select></td>
            <td><select size="1" class="reference_code" data-id="{{ activity.id }}">
                <option value="-1"{% if not activity.ref_code %} selected="selected"{% endif %}>(none)</option>
                <option value="L1"{% if activity.ref_code == '' %} selected="selected"{% endif %}>L1 City</option>
                <option value="L2"{% if activity.ref_code == '' %} selected="selected"{% endif %}>L2
                    Township/Neighborhood</option>
                <option value="L3"{% if activity.ref_code == '' %} selected="selected"{% endif %}>L3
                    Business/Organization</option>
                <option value="L4"{% if activity.ref_code == '' %} selected="selected"{% endif %}>L4 Street address</option>
                <option value="G1"{% if activity.ref_code == '' %} selected="selected"{% endif %}>G1 City</option>
                <option value="G2"{% if activity.ref_code == '' %} selected="selected"{% endif %}>G2 Township/Neighborhood</option>
                <option value="G3"{% if activity.ref_code == '' %} selected="selected"{% endif %}>G3 Business/Organization</option>
                <option value="G4"{% if activity.ref_code == '' %} selected="selected"{% endif %}>G4 Street address</option>
            </select></td>
            <td><a class="delete_annotation" data-id="{{ activity.id }}">X</a></td>
			{% elif activity.type == 'search_local' %}
			<td>Search local</td>
			<td>{{ activity.time|date:"m/d H:i:s" }}</td>
			<td>
				Search text: {{ activity.search_text }} |
				IP: {{ activity.ip }}
			</td>
            <td></td>
            <td></td>
            <td></td>
			{% elif activity.type == 'newplace' %}
			<td>Custom place</td>
			<td>{{ activity.time|date:"m/d H:i:s" }}</td>
			<td>
				Place name: {{ activity.place_name }} |
				<a class="show_shape" data-geotext="{{ activity.shape }}">Show shape</a>
			</td>
            <td></td>
            <td></td>
            <td></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
